/* 
colors
sub-title : #6c757d
title : #495057
background : #e9ecef
cards : #fff
block1 : #e71d36
block2 : #ff9f1c
block3 : #2ec4b6
*/

:root {
  --sub-title-color: #6c757d;
  --title-color: #495057;
  --background-color: #e9ecef;
  --card-color: #fff;
  --block-color-um: #e71d36;
  --block-color-dois: #ff9f1c;
  --block-color-tres: #2ec4b6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
}

.container {
  display: flex;
  flex-direction: column;
  margin: 1.4rem;
}

.text-bar {
  display: flex;
  flex-direction: row;
  color: var(--sub-title-color);
  padding: 0.4rem 0rem;
}

.text-bar h1 {
  font-size: 1.3rem;
  font-weight: 500;
}

.numbers-container {
  margin: 2rem 0rem;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  align-content: space-between;
}

.number-container,
.numbers {
  border-radius: 0.3rem;
  width: 200px;
  background-color: var(--card-color);
  box-shadow: 0 17.7px 33.9px -52px rgba(0, 0, 0, 0.137),
    0 21.6px 41.6px -52px rgba(0, 0, 0, 0.203),
    0 24.9px 49.1px -52px rgba(0, 0, 0, 0.257),
    0 40px 80px -52px rgba(0, 0, 0, 0.31);
}

.icon-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: #495057 solid 1px; */
  width: 70px;
  height: 70px;
  margin: -1rem 1rem;
  border-radius: 3em;
}

.icon1,
.icon1 i {
  background-color: var(--block-color-um);
}

.icon3,
.icon3 i {
  background-color: var(--block-color-dois);
}

.icon2,
.icon2 i {
  background-color: var(--block-color-tres);
}

.icon-container i {
  color: var(--card-color);
  font-size: 2rem;
}

.numbers {
  margin-top: 1.6rem;
  padding: 0.5rem 1rem;
  text-align: right;
}

.numbers span,
.numbers h2 {
  background-color: var(--card-color);
}

.numbers span {
  color: var(--sub-title-color);
}

.numbers h2 {
  padding: 0.5rem 0rem;
  font-weight: 500;
  color: var(--title-color);
}

.charts-containers {
  flex-flow: wrap;
  margin: 2rem 0rem;
  display: flex;
  justify-content: space-between;
}

.chart-container {
  border-radius: 0.3rem;
  width: 300px;
  /* height: 380px; */
  background-color: var(--card-color);
  box-shadow: 0 17.7px 33.9px -52px rgba(0, 0, 0, 0.137),
    0 21.6px 41.6px -52px rgba(0, 0, 0, 0.203),
    0 24.9px 49.1px -52px rgba(0, 0, 0, 0.257),
    0 40px 80px -52px rgba(0, 0, 0, 0.31);
}

.chart-block {
  display: table;
  position: relative;
  margin: -1.5rem auto;
  padding: 0.6rem;
  border-radius: 0.5rem;
  box-shadow: 0 4.5px 3.6px rgba(0, 0, 0, 0.024),
    0 12.5px 10px rgba(0, 0, 0, 0.035), 0 30.1px 24.1px rgba(0, 0, 0, 0.046),
    0 100px 80px rgba(0, 0, 0, 0.07);
}

.block1,
.block1 svg {
  background-color: var(--block-color-um);
}

.block2,
.block2 svg {
  background-color: var(--block-color-dois);
}

.block3,
.block3 svg {
  background-color: var(--block-color-tres);
}

.chart-container .footer,
.chart-container h3,
.chart-container .body p,
.chart-container .footer p,
.chart-container .footer i {
  padding: 0.4rem 1rem;
  background-color: var(--card-color);
}

.chart-container .footer p {
  padding-left: 0rem;
}

.chart-container .footer i {
  padding-right: 0.5rem;
  padding-left: 0rem;
}

.chart-container .title {
  margin-top: 2.8rem;
  color: var(--title-color);
}

.chart-container .title h3 {
  font-weight: 500;
}

.chart-container .body,
.chart-container .footer {
  color: var(--sub-title-color);
}

.chart-container .footer {
  display: flex;
  font-size: 0.8rem;
  margin-bottom: 0.4rem;
}

hr {
  margin: 1rem 1rem;
  background-color: var(--card-color);
  color: var(--sub-title-color);
  border-width: 0.1rem;
  opacity: 0.3;
  height: 0.01rem;
}

@media (max-width: 1000px) {
  .number-container {
    margin-top: 2.5rem;
  }

  .chart-container {
    margin-top: 4rem;
  }
}
