/* 
colors
sub-title : #6c757d
title : #495057
background : #e9ecef
cards : #fff
block1 : #e71d36
block2 : #ff9f1c
block3 : #2ec4b6
*/

:root {
  --sub-title-color: #6c757d;
  --title-color: #495057;
  --background-color: #e9ecef;
  --card-color: #fff;
  --block-color-um: #e71d36;
  --block-color-dois: #ff9f1c;
  --block-color-tres: #2ec4b6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
}

.container {
  display: flex;
  flex-direction: column;
  margin: 1.4rem;
}

.text-bar {
  display: flex;
  flex-direction: row;
  color: var(--sub-title-color);
  padding: 0.4rem 0rem;
}

.text-bar h1 {
  font-size: 1.3rem;
  font-weight: 500;
}

.numbers-container {
  margin: 2rem 0rem;
  display: flex;
  justify-content: space-between;
}

.number-container,
.numbers {
  border-radius: 0.3rem;
  width: 200px;
  background-color: var(--card-color);
  box-shadow: 0 17.7px 33.9px -52px rgba(0, 0, 0, 0.137),
    0 21.6px 41.6px -52px rgba(0, 0, 0, 0.203),
    0 24.9px 49.1px -52px rgba(0, 0, 0, 0.257),
    0 40px 80px -52px rgba(0, 0, 0, 0.31);
}

.icon-container {
  background-color: var(--block-color-dois);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: #495057 solid 1px; */
  width: 70px;
  height: 70px;
  margin: -1rem 1rem;
  border-radius: 3em;
}

.icon-container i {
  background-color: var(--block-color-dois);
  color: var(--card-color);
  font-size: 2rem;
}

.numbers {
  margin-top: 1.6rem;
  padding: 0.5rem 1rem;
  text-align: right;
}

.numbers span,
.numbers h2 {
  background-color: var(--card-color);
}

.numbers span {
  color: var(--sub-title-color);
}

.numbers h2 {
  padding: 0.5rem 0rem;
  color: var(--title-color);
}

.charts-containers {
  margin: 2rem 0rem;
  display: flex;
  justify-content: space-between;
}

.chart-container {
  border-radius: 0.3rem;
  width: 300px;
  height: 300px;
  background-color: var(--card-color);
  box-shadow: 0 17.7px 33.9px -52px rgba(0, 0, 0, 0.137),
    0 21.6px 41.6px -52px rgba(0, 0, 0, 0.203),
    0 24.9px 49.1px -52px rgba(0, 0, 0, 0.257),
    0 40px 80px -52px rgba(0, 0, 0, 0.31);
}

.chart-block {
  position: relative;
  margin: -1rem 1rem;
}

.chart-container h3,
.chart-container .body p,
.chart-container .footer p {
  background-color: var(--card-color);
}

.chart-container .title {
  font-weight: 500;
  color: var(--title-color);
}

.chart-container .body,
.chart-container .footer {
  color: var(--sub-title-color);
}

.chart-container .footer {
  font-size: 0.8rem;
}
